<h1>Все книги мира</h1>
<ul class="books_menu">
    {{#each data}}
    <li>
        <img class="books_image" src="{{image}}" alt="">
        <a href="{{_id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>