<h2>Подробная информация об пользователе:</h2>
<h3>Имя: {{user.name}}</h3>
<h3>Арендованные им книги:</h3>
<div>{{user.rentedBooks}}</div>
<div>Статус блокировки: {{user.isBlocked}}</div>
<a href="blocked"><button class="btn_blocked">Отобрать книги и заблокировать</button></a>
<a href="unBlocked"><button class="btn_take">Разблокировать</button></a>
